<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>review classification</title>
</head>
<body>
    <h3>您的输入是:</h3>
    <div>{{ review }}</div>

    <h3>翻译结果:</h3>
    <div>
        <strong>{{ label }}</strong>
    </div>
    <!--<div>-->
        <!--<form action="/tanks" method="post">-->
            <!--<input type="submit" value="Correct" name="feedback_btn" />-->
            <!--<input type="submit" value="Incorrect" name="feedback_btn" />-->
            <!--<input type="hidden" value="{{review}}" name="review"/>-->
            <!--<input type="hidden" value="{{Y}}" name="Y"/>-->
        <!--</form>-->
    <!--</div>-->
</body>
</html>